<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
            <h2>Sign in</h2>
            <form action="/user" method="post">
                <label for="campo1">Nome do usuário:</label>
                <input type="text" id="nome" name="nome" required>

                <label for="campo2">Senha:</label>
                <input type="text" id="Senha" name="Senha" required>

                <button type="submit" class="btn-add">Adicionar</button>
                <div>
                    <h2>{{verificacao | safe}}</h2>
                </div>
                
            </form>
        
    </div>
</body>
</html>